html, body {
	background-image: url('../imgs/bckgrdhome.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Gentium Basic', serif;
	/*font-size: 20px;*/
	height: 100%;
}

main {
  padding-top: 120px;
}

nav, h1, h2, h3, h4, h5, h6{
	font-family: 'Philosopher', sans-serif;
}

header nav {
	height: 80px;
	font-size: 30px;
}

header nav li:hover > ul {
	display: block;
}

.jumbotron {
	z-index: 10;
	background-color: #fff;
}

footer nav {
	height: 100px;
}

footer .footerText {
	width: 200px;
	margin: 10px;
}