html, body {
	background: url("../imgs/bckgrdhome.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	/*background-image: url('../imgs/bckgrdhome.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	font-family: 'Gentium Basic', serif;
	/*position: relative;*/
	height: 100%;
}

body {
	margin-bottom: 100px;
}

main {
  padding-top: 120px;
  margin-bottom: 150px;
}

nav, h1, h2, h3 {
	font-family: 'Philosopher', sans-serif;
	text-transform: uppercase;
	font-size: 23px;
}

h4, h5, h6 {
	font-family: 'Philosopher', sans-serif;
}

header nav {
	height: 80px;		
}

p {
	font-size: 15px;
}

.navbar-default {
	background-color: #F0F9F6;
}

header .container-fluid {
	margin-top: 13px;
}

#mainMenu {
	margin-top: 15px;
}

header nav li:hover > ul {
	display: block;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #E0F2EC;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #95CDC0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #000;
	background-color: #CEEAE1;
}

.dropdown-menu > li > a {
	font-size: 15px;
}

header nav ul li {
	position: relative;
}

header nav ul ul ul {
  top: 0 !important;
  left: 100% !important; 
}

.box {
	margin-bottom: 20px;
	padding-top: 20px;
	background: #fff;
	border-radius: 7px;
}

.pageContent {
	margin: 10px 30px 30px 30px;
	padding-bottom: 10px;
}

hr {
	max-width: 400px;
	border-color: #999999;
}

figure {
	font-size: 15px;
	margin: 3px 25px 25px 0;
	line-height: 100%;
	width: 230px;
}

figure img {
	margin-bottom: 5px;
}

figure figcaption {
	line-height: 125%;
}

footer .navbar-text {
	margin: 5px 15px;
}

