html, body {
	background-image: url('../imgs/bckgrdhome.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Gentium Basic', serif;
	/*font-size: 20px;*/
	/*position: relative;*/
	height: 100%;
}

body {
	margin-bottom: 100px;
}

main {
  padding-top: 120px;
}

nav, h1, h2, h3, h4, h5, h6{
	font-family: 'Philosopher', sans-serif;
}

header nav {
	height: 80px;
	font-size: 30px;
}

header .container-fluid {
	margin-top: 10px;
}

#mainMenu {
	margin-top: 15px;
}

header nav li:hover > ul {
	display: block;
}

.navbar-default {
	background-color: #F0F9F6;
}

.jumbotron {
	z-index: 3;
	background-color: #fff;
}

footer .navbar-text {
	margin: 5px 15px;
}